/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';

.module-recent-activity {

  .card-container-container {
    margin-bottom: .45rem;

    .card-title {
      margin: 0.625rem 0rem;
      font-size: 1.125rem;
    }

    .violation-container {
      display: flex;
      justify-content: space-between;
      padding: 1.875rem 1.25rem 0 0;
    }

    .card-container {
      padding: 0.625rem 1.25rem 0.625rem 0;
      .card-content {
        display: flex;
        align-items: center;
        height: 8.75rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.0625rem 0.125rem 0rem;

        .card-inner-content {
          display: flex;
          padding: 0 8.75rem 0 8.75rem;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          &-vertical {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-around;
            height: 100%;
          }

          .card-counts {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .card-count-container {
            display: flex;
            align-items: center;

            svg.card-count-pie {
              width: 2.125rem;
              height: 2.125rem;
              margin-right: 0.5rem;
              margin-bottom: 0.5625rem;
              overflow: visible;
              g {
                transform: translate(0.9375rem, 0.9375rem);
              }
            }
          }

          .card-count-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            outline: none;
            flex-basis: 0;

            &:focus {
              box-shadow: 0 0 0 $grc_focus_shaldow_width $grc_focus_shaldow_color;
              outline: 0.0625rem solid transparent;
              border: none;
            }

            &.hasBorder {
              border-right: 0.0625rem solid $color__gray-1;
              padding-right: 5rem;
            }

            .no-result-dash {
              width: 70%;
              text-align: center;
              font-size: 1.5rem;
              letter-spacing: 0.0625rem;
              line-height: 1rem;
              color: $color__navy-gray-6;
              margin-bottom: 2rem;
              position: relative;
              bottom: -0.625rem;
              font-weight: 300;
              overflow: hidden;
              text-overflow: clip;
              white-space: nowrap;
              display:block;
            }

            .card-count {
              font-size: 2.125rem;
              font-weight: bold;
              color: $color__navy-gray-6;
              padding-bottom: 0.9375rem;
              &.alert {
                color: $grc_color_finding_high;
              }
            }
            .card-type {
              // width: 70%;
              text-align: center;
              font-size: 0.75rem;
              font-variant: small-caps;
              letter-spacing: 0.0625rem;
              line-height: 1rem;
              font-weight: bold;
              color: $color__navy-gray-6;
            }
            .card-findings {
              min-width: 7.8rem;
            }
            &:hover :not(.no-result-dash) {
              :not(.no-result) {
                cursor: pointer;
              }
            }
            &:hover>.card-type {
              :not(.no-result) {
                color: $color__blue-51;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
