/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';


.module-top-findings {

   .no-findings {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      width: 20rem;

      .no-findings-icon {
        width: 175px;
        height: 100px;
      }

      .no-findings-title {
        font-weight: bold;
        margin-bottom: 9px;
        font-size: 18px;
        text-align: center;
        color: $mcm_color_blue;
      }

      .no-findings-detail {
        font-weight: 300;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        line-height: 1.2;
        color: $color__navy-gray-6;
     }
   }

  .header-container {
    display: flex;
    align-items: center;

    .header-title {
      font-size: 18px;
      font-weight: bold;
      padding-right: 10px;
      line-height: 23px;
      &.hasChoice {
        border-right: 1px solid $color__gray-1;
      }
    }
  }

  .card-container-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .45rem;

    > div {
      flex-basis: 33%;
      max-width: 590px;
    }

    .card-container {
      padding: 10px 20px 10px 0;

      .card-content {
        display: flex;
        height: 140px;
        min-width: 23.125rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

       .card-inner-content {
         display: flex;
         padding: 10px;

          .card-violations {
            display: flex;
            flex-direction: column;
            flex: 0 0 100px;
            align-items: center;
            justify-content: center;
            border-right: 1px solid $color__gray-1;
            outline:none;

            .card-violation-count {
              font-size: 34px;
              font-weight: bold;
              color: $mcm_color_blue_gray;
              &.alert {
                color: $mcm_color_red;
              }
            }
            .card-violation-type {
              text-align: center;
              font-size: 12px;
              line-height: 16px;
              font-weight: bold;
              color: $mcm_color_blue_gray;
            }

            &:hover {
              cursor: pointer;
            }

            &:hover>.card-violation-type{
              color: $color__blue-51;
              text-decoration: underline;
            }

            &.empty {
              &:hover {
                cursor: default;
              }
            }
         }

          .card-name-description {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 26px 10px;

            .card-name {
              display: flex;
              flex-wrap: wrap;
              font-weight: bold;
              padding-bottom: 5px;
              white-space: nowrap;
              color: $mcm_color_gray_20;

              .card-name-link {
                color: $mcm_color_gray_20;
                text-decoration: none;
                &:hover {
                  cursor: pointer;
                }

                &:hover {
                  color: $color__blue-51;
                  text-decoration: underline;
                }
              }
            }

            .card-description {
              display: flex;
              flex-wrap: wrap;
              font-style: italic;
              font-size: 12px;
              white-space: nowrap;
              color: $mcm_color_blue_gray;

              .card-each-description-link {
                color: $mcm_color_blue_gray;
                text-decoration: none;
                &:hover {
                  cursor: pointer;
                  color: $color__blue-51;
                  text-decoration: underline;
                }
              }
            }

          }
        }
      }
    }
  }
}


@media (min-width: 1922px)  {
  .card-container-container {
    width: 1572px;
  }
}

@media (max-width: 1222px) {
  .card-container-container > div {
    flex-grow: 1;
    margin-left: -.625rem;
  }
}

@media (max-width: 1088px) {
  .card-container-container > div {
    flex-grow: 0;
  }
}

@media (max-width: 799px) {
  .card-container-container > div {
    flex-grow: 1;
    margin-right: -.625rem;
  }
}
