/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';

.module-recent-activity {

  .card-container-container {
    margin-bottom: .45rem;

    .card-title {
      font-size: 18px;
    }

    .violation-container {
      display: flex;
      justify-content: space-between;
      padding: 30px 20px 0 0;
    }

    .card-container {
      padding: 10px 20px 10px 0;

      .card-content {
        display: flex;
        align-items: center;
        height: 140px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

        .card-inner-content {
          display: flex;
          padding: 0 10% 0 10%;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          .card-counts {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .card-count-container {
            display: flex;
            align-items: center;

            svg.card-count-pie {
              width: 34px;
              height: 34px;
              margin-right: 8px;
              g {
                transform: translate(15px, 15px);
              }
            }
          }

          .card-count-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            outline:none;

            &.hasBorder {
              border-right: 1px solid $color__gray-1;
              padding-right: 80px;
            }

            .card-count {
              font-size: 34px;
              font-weight: bold;
              color: $mcm_color_blue_gray;
              &.alert {
                color: $mcm_color_red;
              }
            }
            .card-type {
              width: 70%;
              text-align: center;
              font-size: 12px;
              font-variant: small-caps;
              line-height: 16px;
              font-weight: bold;
              color: $mcm_color_blue_gray;
            }

            &:hover {
              cursor: pointer;
            }

            &:hover>.card-type{
              color: $color__blue-51;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
