/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';

.module-impacted-controls {

  .card-container-container {
    padding-top: 1.5rem;

    .card-title-container {
      display: flex;
      align-items: center;

      .card-title {
        font-size: 1.125rem;
      }

      .info-icon {
        margin-left: 0.7rem;
        width: 1rem;
        height: 1rem;
        fill: $color__blue-51;
        stroke: none;
        cursor: pointer;
      }

      .bx--tooltip--icon__top:focus {
        box-shadow: none;
        outline: none;
        border: none;
        .info-icon {
          box-shadow: 0 0 0 $grc_focus_shaldow_width $grc_focus_shaldow_color;
          outline: 0.0625rem solid transparent;
          border: none;
        }
      }

      .bx--tooltip--icon__top:after, .bx--tooltip--icon__bottom:after {
        white-space: normal;
        width: 22rem;
        max-width: 22rem;
        z-index: 2000;
      }

    }

    .card-container {
      padding: 0.625rem 1.25rem 0.625rem 0;

      .card-content {
        display: flex;
        height: 31.25rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.0625rem 0.125rem 0rem;

        .card-controls {
          display: flex;
          flex-direction: column;
          padding: 2.25rem;
          width: 18.75rem;
          border-right: 0.0625rem solid $color__gray-1;
          position: relative;

          .card-legend {
            .key {
              font-weight: bold;
              display: flex;
              font-size: 0.875rem;
              margin-bottom: 1.875rem;
            }

            .legend-container {
             display: flex;
             font-size: 0.875rem;
             font-weight: normal;
             margin-bottom: 1.875rem;
             color: $grc_color_radar_legend;

             .legend {
                width: 0.625rem;
                height: 0.625rem;
                margin-right: 0.3125rem;
                border-radius: 50%;
                &.policies {
                  background-color: $grc_color_radar_green;
                }
                &.findings {
                  background-color: $grc_color_radar_blue;
                }
              }
            }
          }

          .card-control-panel {
            position: absolute;
            bottom: 2.375rem;

            .card-selection {
              margin-bottom: 3.125rem;

              &-title {
                font-size: 0.875rem;
                color: $color__blue-90;
                font-weight: 600;
                margin-bottom: 0.375rem;
              }

              .bx--dropdown {
                font-size: 0.875rem;
                white-space: nowrap;
                width: auto;

                .bx--list-box__label {
                  color: $color__blue-51;
                  padding-right: 2rem;
                }

                .bx--list-box__field {
                  &:focus {
                    box-shadow: 0 0 0 $grc_focus_shaldow_width $grc_focus_shaldow_color;
                    outline: 0.0625rem solid transparent;
                    border: none;
                 }
                }

                .bx--list-box__menu-item {
                  color: $color__blue-90;
                  padding: 0.875rem;
                  height: 1.625rem;
                  font-weight: normal;

                  &:hover, .bx--list-box__menu-item--highlighted {
                    text-decoration: none;
                  }

                  &.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                    pointer-events: none;
                  }

                }

                .bx--list-box__menu {
                  max-height: 30rem;
                }
              }
             }

            .card-slider {
              .bx--slider {
                min-width: 6.875rem;

                .bx--slider__thumb:focus {
                  box-shadow: 0 0 0 $grc_focus_shaldow_width $grc_focus_shaldow_color;
                  outline: 0.0625rem solid transparent;
                  border: none;
               }
              }
            }
          }
        }

        .card-radar-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75%;

          .card-radar {
            width: 31.25rem;
            height: 31.25rem;
          }

          .no-impacts {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            font-size: 1rem;

            .title {
              display: flex;
              flex-wrap: wrap;
              font-weight: bold;
              padding-top: 0.3125rem;
              color: $color__blue-90;
            }

            .info {
              text-align: center;
              padding-top: 0.3125rem;
              font-style: italic;
              font-size: 0.75rem;
              color: $color__navy-gray-6;
            }
          }
        }
      }
    }
  }
}

div.tooltip {
  position: absolute;
  z-index: 10000;
  width: 10.9375rem;
  // pointer-events: none;
  background: white;
  border: 0.0625rem solid $color__gray-1;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.1);

  &:focus {
    box-shadow: 0 0 0 0.1875rem $grc_focus_shaldow_color;
    outline: 0.0625rem solid transparent;
    border: none;
 }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    margin:0;

    .header {
      .title {
        color: $color__navy-gray-6;
        font-size: 0.6875rem;
        font-weight: 600;
        line-height: 1.125rem;
        padding-bottom: 0.375rem;
      }

      .variable {
        font-size: 0.875rem;
        display: flex;

       .legend {
          width: 0.625rem;
          height: 0.625rem;
          margin-right: 0.3125rem;
          border-radius: 50%;
          &.policies {
            background-color: $grc_color_radar_green;
          }
          &.findings {
            background-color: $grc_color_radar_blue;
          }
        }
      }
    }

    .findings {
      .tool-tip-strip {
        text-decoration: none;
        &:focus {
          box-shadow: 0 0 0 0.1875rem $grc_focus_shaldow_color;
          outline: 0.0625rem solid transparent;
          border: none;
       }
        .link {
          &:hover {
            color: $grc_color_dark_blue;
            cursor: pointer;
          }
        }
        .finding {
          padding-top: 0.875rem;
          font-size: 0.875rem;
          display: flex;
          justify-content: space-between;
          color: $color__blue-90;
  
          .count {
            font-weight: 300;
          }
  
          .severity {
            font-weight: 600;
          }
  
          &.high {
            border-bottom: 0.125rem solid $grc_color_finding_high;
          }
  
          &.medium {
            border-bottom: 0.125rem solid $grc_color_finding_medium;
          }
  
          &.low {
            border-bottom: 0.125rem solid $grc_color_finding_low;
          }
        }
      }
    }
  }
}

div.tooltip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-left: -0.3125rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-top-color: white;
}
