/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';


.module-policy-cards {

  .header-container {
    display: flex;
    align-items: center;

    .header-title {
      font-weight: bold;
      padding-right: 16px;
      border-right: 1px solid $color__gray-1;
    }

    .header-selection {
      .bx--select-input {
        box-shadow: none;
      }
    }
  }

  .card-container-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    > div {
      flex-basis: 33%;
    }

    .card-container {
      padding: 10px;

      .card-content {
        display: flex;
        flex-direction: column;
        height: 140px;
        max-width: 425px;
        min-width: 23.125rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

        .card-name {
          font-weight: bold;
          padding: 10px;
          font-size: 16px;
        }

       .card-count-content {
         display: flex;
         padding: 10px;
         height: 100%;
         border-top: 1px solid $color__gray-1;
         align-items: center;

         > div {
           flex-basis: 50%;
         }

         > div:first-child {
           border-right: 1px solid $color__gray-1;
         }

         .card-count-container {
           display: flex;
           flex-direction: column;
           align-items: center;
           height: 100%;

          .card-count {
             display: flex;
             height: 48px;
             align-items: center;

             .card-count-violations {
               &.violated {
                 font-size: 32px;
                 padding-right: 3px;
                 color: #E62325;
               }
             }
             .card-count-total {
             }
           }
         }

         .card-violation-type {
            font-size: 12px;
            font-weight: bold;
         }
      }
    }
  }
  }
}

@media (min-width: 1922px)  {
  .card-container-container {
    width: 1572px;
  }
}

@media (max-width: 1222px) {
  .card-container-container > div {
    flex-grow: 1;
    margin-left: -.625rem;
  }
}

@media (max-width: 1088px) {
  .card-container-container > div {
    flex-grow: 0;
  }
}

@media (max-width: 799px) {
  .card-container-container > div {
    flex-grow: 1;
    margin-right: -.625rem;
  }
}
