/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';

.module-policy-summary {

  .card-container-container {
    padding-top: 1.5rem;

    .card-title {
      font-size: 1.125rem;
    }

    .card-container {
      padding: 0.625rem 1.25rem 0.625rem 0;

      .card-content {
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.0625rem 0.125rem 0rem;
        height: 8.75rem;

        .card-inner-content {
          display: flex;
          padding: 0 8.75rem 0 8.75rem;
          width: 100%;
          justify-content: space-around;
          align-items: center;

          .card-count-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $color__navy-gray-6;

            .card-count {
              font-size: 2.125rem;
              font-weight: bold;
              padding-bottom: 0.9375rem;
            }
            .card-type {
              text-align: center;
              font-size: 0.75rem;
              font-variant: small-caps;
              letter-spacing: 0.0625rem;
              line-height: 1rem;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
