/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';

.module-top-violations {
  width: 49%;
  min-height: 360px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .no-violations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 20rem;

    .no-violations-icon {
      width: 175px;
      height: 240px;
    }

    .no-violations-title {
      font-weight: bold;
      margin-bottom: 9px;
      font-size: 18px;
      text-align: center;
      color: $mcm_color_blue;
    }

    .no-violations-detail {
      font-weight: 300;
      font-size: 14px;
      font-style: italic;
      text-align: center;
      line-height: 1.2;
      color: $color__navy-gray-6;
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color__gray-1;
    padding: 0 20px;
    height: 40px;

    .header-title {
      width: 50%;
      font-size: 14px;
      font-weight: bold;
      line-height: 23px;
      &.hasChoice {
        border-right: 1px solid $color__gray-1;
      }
    }
    .header-tab {
      margin: auto;
      width: 50%;
      .bx--tabs__nav-item {
        margin-left: auto;
        &:last-child {
          margin-left: 1rem;
        }
      }
    }

    .bx--dropdown {
      font-size: 14px;
      background-color: transparent;
      box-shadow: none;
      white-space: nowrap;
      width: auto;

      .bx--list-box__label {
        color: $color__blue-51;
        padding-right: 32px;
        padding-top: 0.1rem;
      }

      .bx--list-box__field {
        padding: 0 8px;
        &:focus {
         box-shadow: none;
       }
      }

      .bx--list-box__menu-item {
        color: $mcm_color_gray_20;
        padding: 14px;
        height: 26px;
        font-weight: normal;

        &:hover, .bx--list-box__menu-item--highlighted {
          text-decoration: none;
        }
      }

      .bx--list-box__menu {
        max-height: 30rem;
      }
    }
  }

  .violation-card-container {
    display: flex;
    flex-direction: column;

    > div {
      flex-basis: 33%;
    }

    .violation-card-container {
      padding: 0;
      border-bottom: 1px solid $color__gray-1;

      .violation-card-content {
        display: flex;
        height: 140px;
        background-color: white;

       .card-inner-content {
         display: flex;
         width: 100%;

          .card-violations {
            display: flex;
            flex-direction: column;
            flex: 0 0 100px;
            align-items: center;
            justify-content: center;
            outline:none;

            .card-violation-count {
              font-size: 34px;
              font-weight: bold;
              color: $mcm_color_blue_gray;
              &.alert {
                color: $mcm_color_red;
              }
            }
            .card-violation-type {
              text-align: center;
              font-size: 12px;
              line-height: 16px;
              font-weight: bold;
              color: $mcm_color_blue_gray;
            }

            &:hover {
              cursor: pointer;
            }

            &:hover>.card-violation-type{
              color: $color__blue-51;
              text-decoration: underline;
            }

            &.empty {
              &:hover {
                cursor: default;
              }
            }
          }

          .card-name-description {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 26px 10px;

            .card-name {
              display: flex;
              flex-wrap: wrap;
              font-weight: bold;
              padding-bottom: 5px;
              color: $mcm_color_gray_20;

              .card-name-link {
                color: $mcm_color_gray_20;
                text-decoration: none;
                &:hover {
                  cursor: pointer;
                }

                &:hover {
                  color: $color__blue-51;
                  text-decoration: underline;
                }
              }
            }

            .card-description {
              display: flex;
              flex-wrap: wrap;
              font-style: italic;
              font-size: 12px;
              color: $mcm_color_blue_gray;

              .card-each-description-link {
                color: $mcm_color_blue_gray;
                text-decoration: none;
                &:hover {
                  cursor: pointer;
                  color: $color__blue-51;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1922px)  {
  .card-container-container {
    width: 1572px;
  }
}

@media (max-width: 1222px) {
  .card-container-container > div {
    flex-grow: 1;
    margin-left: -.625rem;
  }
}

@media (max-width: 1088px) {
  .card-container-container > div {
    flex-grow: 0;
  }
}

@media (max-width: 799px) {
  .card-container-container > div {
    flex-grow: 1;
    margin-right: -.625rem;
  }
}
