/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';


.policies-view {
  .overview-content{
    .bx--module__inner{
      overflow: hidden
    }
  }

  .yaml-editor-button{
    top: -0.3rem
  }
}

.bx--search-input {
  background-color: $color__white;
}


.bx--search-input {
  background-color: $color__white;
}

.breadcrumb-link {
  color: $color__blue-40;
  font-size: 14px;
  padding: 0 4px;
  background-color: $color__white;
  box-shadow: none;
  &:hover {
    cursor: pointer;
  }
}
