/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';

.resource-toolbar {
  position: fixed;
  top: $secondary-header-top;
  right: 25px;
  z-index: 1001;
  background-color: $color__white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: $secondary-header-min-height;

  .resource-toolbar-container {
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
    min-height: $secondary-header-min-height;
    flex-direction: column;
    justify-content: center;

    > div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .resource-toolbar-buttons {
      height: 20px;
      margin: 3px;
      > div {
        color: $color__blue-51;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        height: 26px;

        .button-icon {
          width: 12px;
          height: 12px;
          fill: $color__blue-51;
          stroke: none;
        }

        .button-label {
          padding: 0 8px;
          white-space: nowrap;
        }
      }

      > div:not(:last-child) {
        padding-right: 20px;
        border-right: 2px solid $color__gray-1;
      }

      > div:last-child {
        padding-left: 20px;
      }
    }

    .resource-filter-bar {
       .bx--tag.bx--tag--custom {
          margin-left: 10px;
          background-color: $mcm_view_filter;
          color: $color__blue-90;
          font-size: .9rem;
          padding: .8rem;
          line-height: 20px;
          white-space: nowrap;

          .closeIcon {
            fill: $color__blue-90;
            cursor: pointer;
            margin-left: 5px;
          }
       }
    }

    .refresh-time-container {
      display: flex;
      align-items: center;
      font-size: 12px;
      height: 20px;
      margin-right: 10px;

      .bx--loading--small {
        width: 1rem;
        height: 1rem;
        margin: -2px 0;
      }
    }

  }
}