/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

// animation
$animation__ease-in: cubic-bezier(0.25, 0, 1, 1) !default;
$animation__ease-out: cubic-bezier(0, 0, 0.25, 1) !default;
$animation__standard: cubic-bezier(0.5, 0, 0.1, 1) !default;

// secondary header
$secondary-header-top: 3.082rem !default;
$secondary-header-min-height: 4.125rem !default;
$secondary-header-max-height: 7.75rem !default;

// mcm overview cards
$overview-column-width: 10px !default; /* card width must be multiple of this */
// also change CARD_SPACING in constants.js
$overview-card-margin-right: 20px !default; /* margin around cards */
$overview-card-margin-bottom: 25px !default; /* margin around cards */

$mcm__color__gray: #6f7878 !default;
$mcm__color__critical: #e0182d !default;

$mcm__available_color: #047cc0 !default;
$mcm__used_color: #40d5bb !default;

$mcm_color_green: #8cd211 !default;
$mcm_color_gray: #8c9ba5 !default;
$mcm_color_yellow: #EFC199 !default;
$mcm_color_red: #E71D32 !default;

$mcm_heat_red: #FF4253 !default;
$mcm_heat_yellow: #FFCB00 !default;
$mcm_heat_blue: #92eeee !default;

$mcm_view_filter: #DFEBF1 !default;

$mcm_background_color: #f4f7fb !default;
$mcm_provider_card_background_color: #fafafa !default;


$ibm-colors__gray--40: #a4a4a4 !default;
$mcm_color_blue: #3F71EC !default;
$mcm_color_blue_gray: #5A6872 !default;
$mcm_color_gray_20: #152935 !default;

