{
    "presets": [
        "es2015",
        "react",
        "stage-2"
    ],
    "plugins": [
        "transform-class-properties",
        ["transform-runtime", {
            "regenerator": true
        }]
    ],
    "env": {
        "client": {
            "plugins": ["syntax-dynamic-import"]
        },
        "server": {
            "plugins": ["dynamic-import-node", "transform-object-rest-spread"]
        },
        "test": {
            "plugins": ["dynamic-import-node"]
        },
        "e2e": {
            "plugins": ["syntax-dynamic-import", "istanbul"]
        }
    }
}
