# These files contain credential tokens. do not ship
.aat.yaml
.npmrc
.travis.yml

# contains facebook copyright code. do not ship
node_modules/svg-sprite-loader/examples

*.log
.git*
.storybook
stories
.travis.yml
.npmrc
Configfile
npm-shrinkwrap.json
README.md
**/__snapshots__/**
.build-harness
Makefile*
Dockerfile*
build-harness
copyright-check.sh
jest.config.js
manifest.yaml
test-output
travis-env.sh
.dockerignore
.eslint*
.nvmrc
travis-scripts
copy.sh
webpack*
version.ejs
state
cicd-travis-logger
pkg
vbh
