/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';

.editor-bar {
    display: flex;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
    }

    .editor-bar-search {
      .bx--search--sm .bx--search-input {
        background-color: $color__white;
        font-size: 0.875rem;
        height: 1.375rem;
        &:focus {
          box-shadow: 0 0 0 $grc_focus_shaldow_width $grc_focus_shaldow_color;
          outline: 0.0625rem solid transparent;
          border: none;
       }
      }
    }

    .editor-bar-button {
      padding: 0.125rem;
      cursor: pointer;

      &:focus {
        box-shadow: 0 0 0 $grc_focus_shaldow_width $grc_focus_shaldow_color;
        outline: 0.0625rem solid transparent;
        border: none;
     }

      &.disabled {
        opacity: 0.4;
        cursor: default;
      }

      &.failure {
        cursor: default;
        fill: $grc__color__critical;
      }
    }

    .editor-error-button {
      fill: $grc__color__critical;
    }

    .editor-bar-spacer {
      width: 1rem;
      height: 1rem;
    }

    .bx--overflow-menu {
      height: 1.375rem;

      &:focus, &.bx--overflow-menu--open {
        box-shadow: 0 0 0 $grc_focus_shaldow_width $grc_focus_shaldow_color;
        outline: 0.0625rem solid transparent;
        border: none;
      }
    }
}

.bx--overflow-menu-options {
  width: auto;
  min-width: 12.5rem;
  &:focus {
    box-shadow: 0 0 0 $grc_focus_shaldow_width $grc_focus_shaldow_color;
    outline: 0.0625rem solid transparent;
    border: none;
  }
  .bx--overflow-menu-options__btn{
    max-width: 100%;
  }
}

.editor-error-button-item {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem;
  width: 100%;
  max-width: none;

  .item-container {
    display: flex;

    .item-icon {
      fill: $grc__color__critical;
      padding-right: 0.5rem;
    }
  }
}
